[data-theme="dark"]:root {
    --theme-page_background: 18, 18, 18;
    --theme-header: 0, 0, 0;
    --theme-nav_background: 22, 22, 22;
    --theme-nav_text: 255, 255, 255;
    --theme-link: 230, 230, 230;
    --layout_button--background-hover: 255, 255, 255, .08;
    --theme-text_color: 239, 239, 239;
    --theme-footer_text: 214, 214, 214;
    --box--backgroundColor: 22, 22, 22;
}

[data-theme="dark"] .nav_user_action li button#user_action_change_dark {
    color: #ffe200;
}