:root {
    --layout_main_code--color: 26, 122, 191;
    --layout_main--color: rgb(var(--layout_main_code--color));
    --layout_main--color_0_3: rgba(var(--layout_main_code--color), 0.3);

    --container--width: 1630px;
    --header--height: 80px;
    --theme-text_color: #353c41;
    --theme-page_background: #edf0f4;
    --theme-text_light: rgb(45, 45, 45);

    --theme-header_code: 255, 255, 255;
    --theme-header: rgb(var(--theme-header_code));
    --theme-header_text: #2d3748;

    --theme-area_background_dark: rgb(29, 29, 29);
    --theme-area_background_dark_0_1: rgba(29, 29, 29, 0.1);
    --theme-nav_background: rgb(255, 255, 255);
    --theme-nav_text: 0, 0, 0;
    --theme-nav_text_color: rgb(var(--theme-nav_text));
    --theme-nav_text_color_0_7: rgba(var(--theme-nav_text), 0.7);
    --theme-nav_text_color_0_1: rgba(var(--theme-nav_text), 0.1);

    --theme-footer_text: rgb(53, 60, 65);
    --theme-footer_background: var(--theme-nav_background);
    --theme-nav-mobile: rgba(0, 0, 0, 0.4);

    --box--radius: 4px;
    --box--boxShadow: 0px 2px 4px -1px var(--theme-area_background_dark_0_1);
    --box--backgroundColor: #fff;

    --theme-link: rgb(26, 32, 44);
    --theme-link_hover: var(--layout_main--color);

    --layout_button--background-hover: rgba(0, 0, 0, 0.08);
    --layout_button--border-radius: 4px;

    --input--shadow: rgba(44, 95, 140, 0.08);
    --input--background: #fff;
    --input--border: rgba(113, 128, 150, 0.4);
    --input--border-focusShadow: var(--layout_main--color_0_3) 0px 0px 0px 4px;

    --table-unbanned: #eaffe9;
    --table-banned: #fff7e4;
    --table-permanent: #ffe0dc;

    --backdrop-filter-value: blur(15px);
    --backdrop-background: rgba(var(--theme-header_code), 0.84);
    --backdrop-text_color: rgb(0, 0, 0);
}

@mixin reset-list($margin, $padding) {
    margin: $margin;
    padding: $padding;
    list-style: none;
}

@mixin mobile-button {
    width: 44px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 13px;
    line-height: 1.5;
    color: var(--theme-text_color);
    height: 100%;
    background-color: var(--theme-page_background);
    margin: 0;
    cursor: inherit !important;
}

a {
    transition: color 0.2s ease;
    color: var(--theme-link);
    text-decoration: none;

    &:hover {
        color: var(--theme-link_hover);
    }
}

@import './scss/_layout';
@import './scss/_footer';
@import './scss/_header';
@import './scss/_nav';
@import './scss/_animation';
@import './scss/_dark';
@import './scss/_old';

/* ================ Show / Hide ================ */
@media screen and (min-width: 980px) {
    .responsive_hide\:desktop {
        display: none !important;
    }
}

@media screen and (max-width: 980px) {
    .responsive_show\:desktop {
        display: none !important;
    }
}

/* ================ Main ================ */
.layout_body {
    margin: 20px 0;
}

/* ================ JSColor ================ */
.jscolor::before {
    content: '\f1fc';
    font-family: 'font awesome 5 free';
    font-weight: 700;
}

/* ================ Page ================ */
.page_header {
    margin-bottom: 5px;
}

.page_header > h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: -0.02em;
    margin: 0;
    color: inherit;
}

/* ================ Breadcrumb ================ */
.breadcrumb {
    font-size: 13px;
    font-weight: 400;
    padding: 10px 0;
    margin-bottom: 20px;
}

.breadcrumb > *:last-child {
    font-weight: bold;
}

.inputbox {
    border: 1px solid #000000;
    width: 105px;
    font-size: 14px;
    background-color: rgb(215, 215, 215);
    width: 200px;
    padding-left: 2px;
}

/* ================ Login - Page ================ */
.collapse_content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
