@mixin input-focus {
    &:focus {
        border-radius: 4px;
        box-shadow: var(--input--border-focusShadow);
        border: 1px solid var(--layout_main--color);
        outline: 0;
    }
}

.input {
    border-radius: 4px;
    padding: 11px;
    color: inherit;
    box-shadow: var(--input--shadow) 0px 3px 4px -1px;
    background-color: var(--theme-area_background_reset);
    border: 1px solid var(--input--border);
    width: 100%;

    &_checkbox {
        @include input-focus();
    }

    &_textarea {
        width: 100%;
        max-width: 100% !important;
        height: 200px;

        @include input-focus();
    }

    @include input-focus();
}
