.table {
    @media (max-width: 980px) {
        &_box {
            overflow-x: auto;
        }
    }

    table {
        width: 100%;
        border-spacing: 0;

        @media (max-width: 980px) {
            white-space: nowrap;
        }

        thead,
        td.listtable_top {
            background-color: var(--layout_main--color);
            font-weight: bold;
            color: #fff;
        }

        thead {
            th {
                padding: 5px;
            }
        }

        tbody {
            > tr.collapse {
                cursor: pointer;
                transition: background-color 0.2s ease;
            }

            tr.collapse:hover {
                background-color: var(--layout_button--background-hover);
            }

            td {
                padding: 5px;

                &:first-child img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    &_hide {
        > td {
            padding: 0 !important;
        }
    }
}
