[data-theme='dark'] {
    &:root {
        --theme-link: rgb(230, 230, 230);
        --theme-text_light: rgb(182, 182, 182);
        --layout_button--background-hover: rgba(255, 255, 255, 0.08);
        --theme-footer_text: rgb(214, 214, 214);
        --box--backgroundColor: #121318;

        --theme-text_color: #e6e6e6;
        --theme-page_background: #0f1015;
        --theme-header_code: 9, 9, 12;
        --theme-header_text: #b5b5b5;
        --theme-nav-mobile: rgba(255, 255, 255, 0.4);

        --theme-nav_background: rgb(18, 19, 24);
        --theme-nav_text: rgb(255, 255, 255);

        --backdrop-text_color: rgb(255, 255, 255);

        --button-light: rgb(26, 28, 35);
        --button-light-text: rgb(255, 255, 255);
    }

    .layout_topBar .layout_topBar_action li #user_action_change_dark i {
        color: #ffe200;
    }
}
