.footer {
    background-color: var(--theme-footer_background);
    box-shadow: var(--box--boxShadow);

    > .layout_container {
        padding: 20px 15px;
        color: var(--theme-footer_text);
    }

    a {
        font-weight: bold;
    }
}
