.nav {
    width: 255px;
    background-color: var(--theme-nav_background);

    ul {
        @include reset-list(0, 0);

        li {
            &.active {
                border-left: 5px solid var(--layout_main--color);
                font-weight: bold;

                a {
                    transform: translateX(-5px);
                }
            }

            a {
                display: block;
                padding: 15px 25px;
                color: var(--theme-nav_text_color_0_7) !important;
                position: relative;
                z-index: 1;
                overflow: hidden;

                &:hover {
                    &::after {
                        transform: scaleX(1);
                        transition-timing-function: ease;
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: var(--layout_button--background-hover);
                    transform: scaleX(0);
                    height: 100%;
                    transition-property: transform;
                    transition-duration: 0.3s;
                    transition-timing-function: ease-out;
                    transform-origin: left;
                }
            }
        }
    }

    &_mobile {
        &.show {
            .nav_mobile_content {
                transform: translateX(0);
            }

            .nav_mobile_background {
                display: block;
            }

            .nav_mobile_close {
                animation: fadeIn 0.2s 0.5s ease-out forwards;
            }
        }

        &_content {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 1100;
            width: 340px;
            max-width: calc(100% - 50px);
            background-color: var(--theme-nav_background);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            transform: translateX(calc(100% + 45px));
            transition: transform 0.2s ease-in-out;
            overflow: auto;
        }

        &_tab {
            &_nav {
                ul {
                    @include reset-list(0, 0);

                    li {
                        &.active {
                            font-weight: bold;
                        }

                        a {
                            display: block;
                            color: var(--theme-nav_text_color_0_7) !important;
                            padding: 12px 20px;
                        }
                    }
                }
            }

            &_top {
                background-color: var(--theme-nav_background);
                position: sticky;
                top: 0;
                border-bottom: 1px solid var(--theme-nav_text_color_0_1);
            }
        }

        &_background {
            display: none;
            position: fixed;
            z-index: 1000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--theme-nav-mobile);
        }

        &_open {
            @include mobile-button;
            font-size: 22px;
            background: transparent;
            border: 0;
            color: var(--backdrop-text_color);
        }

        &_close {
            background: var(--theme-nav_background);
            width: 35px;
            height: 35px;
            border-radius: 40px;
            color: var(--backdrop-text_color);
            text-align: center;
            font-size: 22px;
            position: fixed;
            opacity: 0;
            top: 5px;
            right: 345px;
            z-index: 2000;
            border: 0;
        }

        /* display: none;
        opacity: 0;

        &.show {
            display: block;
            opacity: 1;
        }

        background-color: var(--theme-nav-mobile);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1100;
        animation: fadeIn 0.2s ease-out;

        &_content {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: auto;
        }

        &_tab {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: var(--theme-nav_background);
            width: 340px;
            max-width: calc(100% - 50px);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
            animation: slideFromRight 0.2s ease-out;

            nav {
                ul {
                    @include reset-list(0, 0);

                    li {
                        &.active {
                            font-weight: bold;
                        }

                        a {
                            display: block;
                            color: var(--theme-nav_text_color_0_7) !important;
                            padding: 12px 20px;
                        }
                    }
                }
            }

            &_top {
                background-color: var(--theme-nav_background);
                position: sticky;
                top: 0;
                border-bottom: 1px solid var(--theme-nav_text_color_0_1);
            }
        }

        &_open {
            @include mobile-button;
            font-size: 22px;
            background: transparent;
            border: 0;
            color: var(--backdrop-text_color);
        }

        &_close {
            background: var(--theme-nav_background);
            width: 35px;
            height: 35px;
            border-radius: 40px;
            color: var(--backdrop-text_color);
            text-align: center;
            font-size: 22px;
            position: absolute;
            top: 5px;
            right: 345px;
            z-index: 2000;
            border: 0;
        } */
    }
}
